<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Leilão</a>
  </span>
  <span class="space"></span>
    <ul>
        <li *ngIf='UserIsAuthenticated'>
            <a mat-button routerLink="/listar" *ngIf="ifisAdmin()" routerLinkActive="primary">Ver Utilizadores</a>
          </li>
      <li *ngIf='UserIsAuthenticated'>
        <a mat-button routerLink="/create" routerLinkActive="primary">Criar Leilão</a>
      </li>
      <li *ngIf='!UserIsAuthenticated'>
          <a mat-button routerLink="/login" routerLinkActive="primary">Login</a>
        </li>
        <li *ngIf='!UserIsAuthenticated'>
            <a mat-button routerLink="/signup" routerLinkActive="primary">Registar</a>
          </li>
          <li *ngIf='UserIsAuthenticated'>
            <button mat-button (click)='onLogout()'>Logout</button>
          </li>
   </ul>
</mat-toolbar>
