<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="items.length > 0 !isloading">
  <mat-expansion-panel *ngFor="let item of items">
    <mat-expansion-panel-header>
      {{ item.title }}
    </mat-expansion-panel-header>
    <p>{{ item.content }}</p>

    <mat-expansion-panel *ngIf="lances.length > 0">
        <mat-expansion-panel-header>
          <p>Lances efetuados por:</p>
        </mat-expansion-panel-header>

        <mat-expansion-panel *ngFor="let lance of lances ">
          <mat-expansion-panel-header>
            <p>{{lance.user}}</p>
          </mat-expansion-panel-header>

          <section>
            <p><b>Valor:{{lance.valor}}€</b></p>
          </section>
        </mat-expansion-panel>

      </mat-expansion-panel>
      <mat-card class="info-text mat-body-1" *ngIf="lances.length <= 0">Sem lances efetuados</mat-card>

    <mat-action-row *ngIf='userIsAutenticated'>
      <button mat-button color="warn" [routerLink]="['/lance']" *ngIf="userIsAutenticated">Fazer Lance</button>
      <a mat-button [routerLink]="['/edit', item.id]">EDITAR</a>
      <button mat-button (click)="onDelete(item.id)">ELIMINAR</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalItems"
[pageSize]="itemsPerPage"
[pageSizeOptions]="pageSizeOptions"
(page)="onChangedPage($event)"
*ngIf="items.length > 0 "
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="items.length <= 0 && !isLoading">Não existem leilões ativos.</p>

