<h2>Crie um Lance</h2>
<mat-card>
    <form [formGroup]="criarLances" (ngSubmit)="onAddLance()">
        <mat-form-field>
            <h4>Nome do Utilizador</h4>
            <input matInput type="text" formControlName="user">
        </mat-form-field>

        <h4>Valor:</h4>
        <mat-form-field class="controlvalue">

            <input matInput type="number" formControlName="valor" min="1">
            <mat-error *ngIf="criarLances.get('valor').invalid" >Insira um valor positivo</mat-error>

        </mat-form-field>
        <i class="material-icons">euro_symbol</i>

        <h4><button mat-stroked-button color="warn" *ngIf="isAuthenticated" type="submit">
                Criar Lance
            </button>
        </h4>
    </form>
</mat-card>
