<h2>Crie um Lance</h2>
<mat-card>
    <form [formGroup]="criarLances" (ngSubmit)="onAddLance()">
        <mat-form-field>
            <input matInput type="email" placeholder='Email' formControlName="user">
        </mat-form-field>
         <mat-form-field class="controlvalue">
            <input matInput type="number" placeholder='Valor' formControlName="valor" min="1">
            <mat-error *ngIf="criarLances.get('valor').invalid" >Insira um valor positivo</mat-error>
        </mat-form-field>
        <i class="material-icons">euro_symbol</i>
        <button mat-stroked-button color="warn" *ngIf="isAuthenticated" type="submit">Criar Lance</button>
    </form>
</mat-card>
